body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    margin-top: 50px;
  }

  .nav-wrapper .fa-bars{
    font-size:25px;
  }

 .light-blue {
    position: fixed;
    z-index: 99;
  }

  .robot { 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer{
    margin-top:20px;
  }

  .story-text{
    height:120px;
  }

  .dash-status{
    text-transform: capitalize;

  }

  #delete-form{
    display:inline;
  }

  .btn{
    background-color: #e65100
  }

  .checkbox-limegreen[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #64dd17;
    background-color: #64dd17;
}

.card-content{
  background-color: #F3E5F5
}