<h1>About</h1>
<p>Beta Version 1.0</p>
<p>tinyBot is a social media network allowing children ages 10 and older to share their experiences in the fields of science, technology, engineering and math.</p>
<p>tinyBot is a supporter of S.T.E.M and it's main objective is to provide a place where children can collaborate.</p>
