<h2>Welcome Bots</h2>
<img src="tinybot.jpg" width="130" height="130" style="float:left"> 
<!--<p>Welcome to tinyBot</p>-->

<h6><span style="color:#FF9800;font-size:25px"><b>tinyBot</b></span> is a Bot friendly social media application where Bots can share their adventures in Science, Technology, Engineering and Math.<p>No special wiring needed, just a spark and your imagination. Login and start your Bot journey today.
</h6>
{{#if user}}
{{else}}
    <a class="btn red darken-2" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}