<h1>Welcome Bots</h1>
<p>Welcome to tinyBot</p>
<p>Lorem ipsum dolor sit amet, duis platea pretium porta lectus, nam dolor duis turpis lobortis amet, aliquam ante tempor mi fermentum enim, eget perferendis odio. Proin nulla aliquam, sodales blandit mauris risus magna sed, elit orci sed eu litora ultrices, parturient ante rhoncus odio sapien, donec massa nec. Consectetuer donec auctor per praesent, tincidunt id donec et, elit eleifend duis excepteur orci mauris ligula, rhoncus risus in vivamus tortor neque, aliquam pretium sapien non rutrum. 
</p>
{{#if user}}
{{else}}
    <a class="btn red darken-2" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}