<h1>Welcome Bots</h1>
<p>Welcome to BitBot</p>
<p>Post stories about your travels through science, technology engineering and math. You can 
    share with the world your experiences or you can keep a private journal of your journey
</p>
<a class="btn red darken-1" href="/auth/google"><i class="fa ga-google left"></i> Login With Google</a>